[submodule "json-c"]
	path = json-c
	url = https://github.com/phalcon/json-c.git
	branch = master

[submodule "GetOptionKit"]
	path = vendor/getoptionkit
	url = https://github.com/c9s/GetOptionKit.git
[submodule "Kit-ClassLoader"]
	path = vendor/classloader
	url = https://github.com/Riimu/Kit-ClassLoader.git
